<div class="container" data-aos="fade-down">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#heroes" class="nav-link">Customer</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Manage Customers</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Items</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Rental</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
</div>